body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color: white!important;
}
.span{
  position: absolute;
  top:50%;
  left:50%;
}
/* #card{
  border:none;
} */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.height-custom{
  height:40vh;
  background-color: #282c34;
}
#header{
  background-color:#20232a;
}
.apinfo{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
}
footer{
  min-height:150px;
  background-color: #212529;
}
.animate__animated.animate__backInLeft {
  --animate-duration: .2s;
}
